<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">
<listeners>
	<listener class-name="org.uncommons.reportng.HTMLReporter"/>
	<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
	<listener class-name="org.testng.reporters.FailedReporter"/>
</listeners>

	<test name="Regression" preserve-order = "true">
		<parameter name="url" value="google.com parameterization from xml"></parameter>
		<classes >
				<class name="VivekTechnologies.testcases.Login" />
				<class name="VivekTechnologies.testcases.AddCustomerTest" />
		</classes>

	</test>

</suite> <!-- Suite -->
