<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">


	<test name="Bank Manager Login Test">
		<classes>
				<class name="VivekTechnologies.testcases.Login" />
		</classes>
	</test> <!-- Test -->


	<test name="Add Customer Test">
		<classes>
					<class name="VivekTechnologies.testcases.AddCustomerTest" />
		</classes>
	</test>

</suite> <!-- Suite -->
